<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Churn</title>
</head>
<h2><center><u> CUSTOMER CHURN PREDICTION </u></center></h2>
<body style="background-color:powderblue;">
<form action="/" method="POST">
    <center>
                 <div class="form">
                     <label for="Dependents">Dependents:</label><br>
                     <input style="background-color: gold;" type="text" name="Dependents" id="Dependents" value="" ><br>

                     <label for="tenure">tenure:</label><br>
                     <input style="background-color: gold;" type="text" name="tenure" id="tenure" value=""/><br>

                     <label for="OnlineSecurity"> OnlineSecurity:</label><br>
                     <input style="background-color: gold;" type="text" name="OnlineSecurity" id="OnlineSecurity" value=""><br>

                     <label for="OnlineBackup">OnlineBackup:</label><br>
                     <input style="background-color: gold;" type="text" name="OnlineBackup" id="OnlineBackup" value=""><br>

                     <label for="DeviceProtection">DeviceProtection:</label><br>
                     <input style="background-color: gold;" type="text" name="DeviceProtection" id="DeviceProtection" value=""><br>

                     <label for="TechSupport">TechSupport:</label><br>
                     <input style="background-color: gold;" type="text" name="TechSupport" id="TechSupport" value=""><br>

                     <label for="Contract">Contract:</label><br>
                     <input style="background-color: gold;" type="text" name="Contract" id="Contract" value=""><br>

                     <label for="PaperlessBilling">PaperlessBilling:</label><br>
                     <input style="background-color: gold;" type="text" name="PaperlessBilling" id="PaperlessBilling" value=""><br>

                     <label for="MonthlyCharges">MonthlyCharges:</label><br>
                     <input style="background-color: gold;" type="text" name="MonthlyCharges" id="MonthlyCharges" value=""><br>

                     <label for="TotalCharges">TotalCharges:</label><br>
                     <input style="background-color: gold;" type="text" name="TotalCharges" id="TotalCharges" value=""><br>
                     </div>

                 <div class="col-sm-3">
                     <button style="background-color:red;border-color:powderblue;color:white" type="submit" class="btn btn-primary" name="submit">SUBMIT</button>
			     </div>
    </center>
</form>

<div class="form">
    <center><br>
        <output> {{op1}}</output><br><output>{{op2}}</output>
    </center>
</div>
</body>
</html>
